.outerLogin{
    height: 80vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.login{
    height: 400px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login h3{
    margin: 20px;
    font-size: 30px;
    color: rgb(163, 160, 160);
    letter-spacing: 2px;
}
.form-group{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
}
.form-group > *{
    margin: 5px;
}
.form-group label{
    color: rgb(153, 153, 153);
    font-size: 15px;
    font-weight: bold;
}
.form-group input{
    background-color: rgb(211, 211, 211);
    border: none;
    height: 30px;
    outline: none;
    border-radius: 5px;
}
.button-group{
    display: flex;
    margin-top: 30px;
}
.button-group button{
    margin : 0 2px;
    padding: 10px 20px;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    outline: none;
}
.button-group button:hover{
    background-color: grey;
    cursor: pointer;
}